.menu {
}
.firstLevel {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 20px;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
}
.firstLevel:hover,
.firstLevelActive {
    color: var(--primary);
}
.firstLevel svg:hover,
.firstLevelActive svg {
    fill: var(--primary);
}
.secondBlock {
    margin-top: 15px;

    margin-left: 12px;
    padding-left: 32px;
    border-left: 1px solid #dfdfdf;
}
.secondCategory {
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--gary-dark);
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}
.fithLevel {
    margin-bottom: 10px;
    cursor: pointer;
    color: var(--gary-dark);
    line-height: 19px;
    display: block;
    font-size: 14px;
    font-weight: 500;
}
.secondLevelBlock {
}
.secondBlockOpen:last-child {
    margin-bottom: 20px;
}
.fithLevelActive,
.fithLevel:hover {
    color: var(--primary);
}
